user                  <%= node[:nginx][:user] %>;
worker_processes      <%= node[:nginx][:worker_processes] %>;
worker_rlimit_nofile  <%= node[:nginx][:worker_rlimit_nofile] %>;
pid                   <%= node[:nginx][:pid] %>;

events {
  use epoll;
  worker_connections <%= node[:nginx][:worker_connections] %>;
  multi_accept       <%= node[:nginx][:multi_accept] %>;
}

http {
  ##
  # Basic Settings
  ##
  sendfile              <%= node[:nginx][:sendfile] %>;
  tcp_nopush            <%= node[:nginx][:tcp_nopush] %>;
  tcp_nodelay           <%= node[:nginx][:tcp_nodelay] %>;

  ##
  # Timeouts
  ##
  client_body_timeout     <%= node[:nginx][:client_body_timeout] %>;
  client_header_timeout   <%= node[:nginx][:client_header_timeout] %>;
  keepalive_timeout       <%= node[:nginx][:keepalive_timeout] %>;
  send_timeout            <%= node[:nginx][:send_timeout] %>;
  ignore_invalid_headers  <%= node[:nginx][:ignore_invalid_headers] %>;

  types_hash_max_size   <%= node[:nginx][:types_hash_max_size] %>;
  server_tokens         <%= node[:nginx][:server_tokens] %>;

  include       <%= node[:nginx][:dir] %>/mime.types;
  default_type  application/octet-stream;

  server_names_hash_bucket_size <%= node[:nginx][:server_names_hash_bucket_size] %>;
  server_name_in_redirect       <%= node[:nginx][:server_name_in_redirect] %>;

  large_client_header_buffers  <%= node[:nginx][:large_client_header_buffers] %>;

  ##
  # Logging Settings
  ##
  <%- node[:nginx][:log_format].each do |name, format| -%>
  log_format  <%= name %> <%= format %>;
  <%- end -%>
  access_log  <%= node[:nginx][:log_dir] %>/access.log <%= node[:nginx][:access_log_format] %>;
  error_log   <%= node[:nginx][:log_dir] %>/error.log;

  ##
  # Gzip Settings
  ##
  gzip              <%= node[:nginx][:gzip] %>;
  gzip_disable      <%= node[:nginx][:gzip_disable] %>;

  gzip_vary         <%= node[:nginx][:gzip_vary] %>;
  gzip_proxied      <%= node[:nginx][:gzip_proxied] %>;
  gzip_comp_level   <%= node[:nginx][:gzip_comp_level] %>;
  gzip_buffers      <%= node[:nginx][:gzip_buffers] %>;
  gzip_http_version <%= node[:nginx][:gzip_http_version] %>;
  gzip_min_length   <%= node[:nginx][:gzip_min_length] %>;
  gzip_types        <%= node[:nginx][:gzip_types].join(' ') %>;

  ##
  # If HTTPS, then set a variable so it can be passed along.
  ##
  map $scheme $server_https {
    default <%= node[:nginx][:default] %>;
    https <%= node[:nginx][:https] %>;
  }

  ##
  # Virtual Host Configs
  ##
  include <%= node[:nginx][:dir] %>/conf.d/*.conf;
  include <%= node[:nginx][:dir] %>/sites-enabled/*;
}
